{
  "ConnectionStrings": {

    "DefaultConnection": "Server=LAPTOP-RIRPE28I\\SQLEXPRESS;Database=BangazonSite;Trusted_Connection=True;"

  },
  "Logging": {
    "LogLevel": {
        "Default": "Warning"
    }
  },
  "AllowedHosts": "*"
}