{
  "ConnectionStrings": {

    "DefaultConnection": "DESKTOP-TE03H1G\\SQLEXPRESS;Database=BangazonSite;Trusted_Connection=True;"

  },
  "Logging": {
    "LogLevel": {
        "Default": "Warning"
    }
  },
  "AllowedHosts": "*"
}