{
  "ConnectionStrings": {
    "DefaultConnection": "Server=DESKTOP-DF4KNSB\\SQLEXPRESS;Database=BangazonSite;Trusted_Connection=True;"
  },
  "Logging": {
    "LogLevel": {
        "Default": "Warning"
    }
  },
  "AllowedHosts": "*"
}